{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Shippy E-Commerce - Dashboard</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-gray-100 flex flex-col">
  <div class="p-2 mb-6 relative max-w-7xl mx-auto">
    
    {% if products %}
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product in products %}
          {% include 'card_product.html' with product=product %}
        {% endfor %}
      </div>
    {% else %}
      <div class="bg-white shadow-lg rounded-lg p-6 text-center w-full flex flex-col items-center justify-center h-full">
        <img src="{% static 'image/Sad.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-xl font-medium text-gray-700">No products available.</p>
        <p class="text-gray-500 mt-2">Please check back later!</p>
      </div>
    {% endif %}
  </div>

  <div class="flex justify-end mt-6 max-w-7xl mx-auto">
    <a href="{% url 'main:create_product_entry' %}" class="bg-gradient-to-r from-blue-500 to-indigo-500 hover:from-blue-600 hover:to-indigo-600 text-white font-bold py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105 shadow-lg">
      Add Product
    </a>
  </div>
</div>


{% endblock content %}
