{% extends 'base.html' %}

{% block content %}
<div class="max-w-4xl mx-auto p-6">
    <h2 class="text-3xl font-semibold mb-6">Featured Products</h2>
    {% if products %}
    <ul class="space-y-4 mb-8">
        {% for product in products %}
        <li class="bg-white shadow-lg rounded-lg p-6 flex flex-col">
            <div class="mb-4">
                <span class="text-xl font-semibold">{{ product.name }}</span>
            </div>
            <div class="mb-4 text-gray-700">
                <span class="text-lg">{{ product.price|floatformat:2 }} Rupiah</span>
            </div>
            <div class="text-gray-600">
                <p>{{ product.description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="bg-white shadow-lg rounded-lg p-6 text-center">
        <p class="text-xl font-medium text-gray-700">No products available.</p>
        <p class="text-gray-500 mt-2">It looks like there are no products in our store right now. Please check back later!</p>
    </div>
    {% endif %}

    <a href="{% url 'main:create_product_entry' %}" 
       class="bg-blue-500 text-white px-8 py-4 rounded-lg shadow-md hover:bg-blue-600 transition duration-300 block mx-auto">
       Add Product
    </a>
</div>
{% endblock %}
